*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#000;
  color:#fff;
  overflow-x:hidden;
}

/* HEADER */
header{
  width:100%;
  position:relative;
  z-index:1000;
}

/* HERO */
.hero{
    background:#ffffff;
    color:#000;
    border-bottom-left-radius:120px;
    border-bottom-right-radius:120px;
    padding:60px 0 80px;
    overflow:hidden;
    padding-bottom:0;
}

.hero h1{
  text-align:center;
  font-size:60px;
  font-weight:800;
  margin-bottom:40px;
}

.hero-content{
  width:85%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:40px;
}

/* LEFT */
.hero-left{
  width:250px;
}

.hero-left p{
  font-size:22px;
  line-height:1.5;
  margin-bottom:30px;
}

.hero-left button,
.cta button{
  padding:15px 35px;
  border:none;
  border-radius:40px;
  background:#fff;
  font-weight:600;
  cursor:pointer;
  box-shadow:0 5px 10px rgba(0,0,0,.2);
  transition:.3s;
}

.hero-left button:hover,
.cta button:hover{
  transform:translateY(-3px);
}

/* CENTER */
.hero-center{
  position:relative;
  width:650px;
  height:650px;
  display:flex;
  justify-content:center;
  align-items:flex-end; /* bikin gambar turun ke bawah */
  overflow:visible;
}

.hero-center img{
  position:relative;
  z-index:2;
  width: 800px !important;
  height: 700px !important;
  max-width:none; /* penting */
  height:auto;
}

.glow-logo{
  position:absolute;
  z-index:3;
  bottom:110px;
  width:120px;
  height:120px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:70px;
  font-weight:700;
  color:#1c5cff;
  border:3px solid #00aaff;
  background:rgba(0,0,0,.45);
  box-shadow:
  0 0 20px #00aaff,
  0 0 50px #0077ff;
}

/* RIGHT */
.hero-right{
  text-align:center;
}

.stars{
  color:#2f9fff;
  font-size:30px;
  margin-bottom:10px;
}

.hero-right h2{
  font-size:45px;
  font-weight:800;
}

.hero-right span{
  font-size:20px;
}

/* ABOUT */
.about-section{
  width:85%;
  margin:auto;
  padding:90px 0;
}

.about-top{
  display:flex;
  justify-content:space-between;
  gap:50px;
}

.about-left{
  width:55%;
}

.about-left h2{
  font-size:48px;
  margin-bottom:10px;
}

.about-left h3{
  font-size:24px;
  margin-bottom:30px;
}

.about-left img{
  width:100%;
  border-radius:40px;
  margin-bottom:30px;
  object-fit:cover;
}

.about-left p,
.about-right p{
  font-size:22px;
  line-height:1.6;
  color:#ddd;
}

.about-left ul{
  margin:20px 0;
  padding-left:25px;
}

.about-left li{
  font-size:22px;
  margin-bottom:10px;
  color:#fff;
}

.about-right{
  width:40%;
}

.about-right img{
  width:100%;
  border-radius:40px;
  margin-top:40px;
  object-fit:cover;
}

/* CARDS */
.cards{
  margin-top:70px;
  display:flex;
  justify-content:space-between;
  gap:40px;
}

.card{
  flex:1;
  background:#3d3d3d;
  padding:50px;
  border-radius:40px;
}

.card h2{
  font-size:42px;
  margin-bottom:10px;
}

.card span{
  color:#ddd;
  font-size:22px;
}

.feature-box{
  border:2px solid #9f9f9f;
  padding:18px 25px;
  border-radius:20px;
  margin-top:25px;
  font-size:22px;
  background:#5a5a5a;
}

.card h3{
  margin-top:30px;
  font-size:28px;
  line-height:1.4;
}

.card p{
  margin-top:30px;
  color:#ddd;
  font-size:22px;
  line-height:1.6;
}

/* CTA */
.cta{
  text-align:center;
  padding:100px 20px;
}

.cta h2{
  font-size:48px;
  margin-bottom:20px;
}

.cta p{
  font-size:24px;
  color:#ddd;
  margin-bottom:40px;
}

/* FOOTER */
footer{
  width:100%;
  margin-top:50px;
}

/* RESPONSIVE */
@media(max-width:1200px){

  .hero h1{
    font-size:45px;
  }

  .hero-content,
  .about-top,
  .cards{
    flex-direction:column;
    align-items:center;
  }

  .hero-left,
  .hero-right,
  .about-left,
  .about-right{
    width:100%;
    text-align:center;
  }

  .about-left ul{
    text-align:left;
    display:inline-block;
  }

  .hero-center{
    width:100%;
    height:400px;
  }

  .hero-center img{
    width:280px;
  }

  .glow-logo{
    width:90px;
    height:90px;
    font-size:50px;
    bottom:80px;
  }

  .card{
    width:100%;
  }
}

@media(max-width:768px){

  .hero{
    border-bottom-left-radius:70px;
    border-bottom-right-radius:70px;
  }

  .hero h1{
    font-size:35px;
    padding:0 20px;
  }

  .hero-left p,
  .about-left p,
  .about-right p,
  .card p,
  .feature-box,
  .cta p,
  .about-left li{
    font-size:16px;
  }

  .about-left h2,
  .card h2,
  .cta h2{
    font-size:32px;
  }

  .about-left h3,
  .card h3{
    font-size:20px;
  }

  .circle1{
    width:300px;
    height:300px;
  }

  .circle2{
    width:220px;
    height:220px;
  }

  .hero-center img{
    width:210px;
  }
}
